:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 26, 26, 46;
  --background-end-rgb: 22, 33, 62;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  min-height: 100vh;
  margin: 0;
}